<div class="container">


    <h3 class="alert alert-dark p-3 text-dark text-center">All Buttons </h3>


    <div class="row">
        <div class="col-6 mx-auto">
            <table class="table table-bordered text-center border-success text-white">
                <thead class="bg-primary">
                    <tr>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-hover bg-dark button-list">
                    {{#each buttons}}
                    <tr>
                        <td>
                            <button onclick="window.location.href='{{btn_link}}'" class="btn btn-sm"
                                style="color:{{btn_text_clr}}; background-color: {{btn_clr}}; font-size:{{btn_text_size}}; font-family:{{btn_font_family}};">{{title}}
                            </button>
                        </td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/button/edit/{{_id}}" class="btn btn-sm btn-warning mr-2"
                                role="button">Edit</a>
                            <form action="/admin/button/delete/{{_id}}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>

    <hr>

    <div class="row p-4">
        <div class="col-md-8">
            <form action="/admin/button/create" method="post">
                <div class="form-group">
                    <label for="title">Button Title</label>
                    <input type="text" class="form-control" id="button-title" name="title" placeholder="Enter Title">
                    <label for="btnclr">Button Color</label>
                    <input type="text" class="form-control" id="button-color" name="color"
                        placeholder="Enter Button Color">
                    <label for="btntextclr">Button Text Color</label>
                    <input type="text" class="form-control" id="button-text-color" name="btn_text_color"
                        placeholder="Enter Button text Color">
                    <label for="btntextsize">Button Text size</label>
                    <input type="text" class="form-control" id="button-text-size" name="btn_text_size"
                        placeholder="Enter Button text size">
                    <label for="btnfont">Button Font Family</label>
                    <input type="text" class="form-control" id="button-font-family" name="btn_font_family"
                        placeholder="Enter Button Font Family">
                    <label for="btnlink">Button Link</label>
                    <input type="text" class="form-control" id="button-link" name="btn_link"
                        placeholder="Enter Button Link">
                </div>
                <button type="submit" class="btn btn-outline-success btn-lg" id="create-button">Create
                    Button </button>
            </form>
        </div>
    </div>


</div>