<div class="container">


    <h3 class="alert alert-dark p-3 text-dark text-center">All Categories </h3>


    <div class="row">
        <div class="col-6 mx-auto">
            <table class="table table-bordered text-center border-success text-white">
                <thead class="bg-primary">
                    <tr>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-hover bg-dark category-list">
                    {{#each categories}}
                    <tr>

                        <td style="font-size: {{txt_size}}; font-family:{{txt_font_family}}; color:{{txt_color}};">
                            {{title}}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/category/edit/{{_id}}" class="btn btn-sm btn-warning mr-2"
                                role="button">Edit</a>
                            <form action="/admin/category/delete/{{_id}}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>

    <hr>

    <div class="row p-4">
        <div class="col-md-8">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="category-title" name="title" value="{{category.title}}">
            </div>
            <div class="form-group">
                <label for="Text Color">Text Color</label>
                <input type="text" class="form-control" id="category-txt-color" name="color"
                    value="{{category.txt_color}}">
            </div>
            <div class="form-group">
                <label for="Text Size">Text Size</label>
                <input type="text" class="form-control" id="category-txt-size" name="txt_size"
                    value="{{category.txt_size}}" placeholder="Enter Text Size">
            </div>
            <div class="form-group">
                <label for="Text Font Family">Text Font Family</label>
                <input type="text" class="form-control" id="category-txt-font-family" name="txt_font_family"
                    value="{{category.txt_font_family}}" placeholder="Enter Text Font Family">
                <input type="hidden" class="form-control" id="category-id" name="id" value="{{category._id}}">
            </div>
            <button class="btn btn-outline-warning btn-lg" id="update-category-button">Update
                category</button>
        </div>
    </div>


</div>